#about-container {
  width: 100%;
    padding-left: 10%;
  padding-right: 10%;
    padding-bottom: 30px;
  position: absolute;
  background-color: #F5F5F5;
    min-height: 86%;
    bottom: 0px;
}
}

#about-me {
  width: 100%;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#about-me h1 {
  font-family: 'gotham1', 'Helvetica', 'arial', sans-serif;
  color: #632ab8;
}


#link {
  color: #632ab8;
  font-weight: bolder;
}

#link:hover {
  color: #632ab8;
}

#container-description  {
    
    
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;

}

#skills {
  width: 80%;
    max-width: 750px;
  padding-top: 30px;
  padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
}

#skills > h5 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
  font-size: 18px;
  color: #565656;
}

#skills > h4 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  color: #565656;
}

#avatar {
  content: url("../images/avatar.png");
  width: 30%;
  height: auto;
}

.progress   {
    
    max-width: 500px;
}

#loading-1 {
  width: 80%;
  height: 98%;
  background-color: #632ab8;
}

#loading-2 {
  width: 85%;
  height: 98%;
  background-color: #632ab8;
}

#loading-3 {
  width: 82%;
  height: 98%;
  background-color: #632ab8;
}

#loading-4 {
  width: 60%;
  height: 98%;
  background-color: #632ab8;
}

.animated slideInLeft {
  -webkit-animation-duration: 5s;
  -o-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -webkit-animation-delay: 2s;
  -o-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
}

